<ion-header>
  <ion-toolbar>
    <ion-title>Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviar()" novalidate [formGroup]="form">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" class="form-control" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos:</ion-label>
      <ion-input type="text" class="form-control" formControlName="apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Direccion:</ion-label>
      <ion-input type="text" class="form-control" formControlName="direccion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" class="form-control" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefono:</ion-label>
      <ion-input type="number" class="form-control" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <input type="submit" value="Enviar">
    </ion-item>
  </form>
</ion-content>
